:root {
    --heading-font: "Big Shoulders", sans-serif;
    --default-font: "Playfair Display", serif;
    --background-color: #021832;
    --linear-gradient:linear-gradient(#ffc3ca, #a8a9e7);
}

h1, h2, a, .nav-link, .navbar-brand {
    font-family: var(--heading-font);
    letter-spacing: 0.12em;
}

.homepage, .project1, .project2, .project3, .project4, .about, .contact {
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover; 
    min-height: 100vh; 
    width: 100%;
}


/*-------BACKGROUND-------*/ 

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overscroll-behavior: contain;
}


.full-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    overflow-y: auto;
    padding: 20px 0;
}

.project-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .full-page {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start;
        padding: 30px 0; /* More padding to prevent overlap */
    }
    .row {
        flex-direction: column;
        text-align: center;
    }
    .col-md-5, .col-md-2 {
        width: 100%; /* Make sure each section takes full width */
    }
}


.homepage {
    background-color: var(--background-color);
    background-image: url("/images/desktop/homepage-background6.png");   
}

.project1 {
    background-color: #d2e1f6;
    background-image: url("/images/desktop/project1-background4.png");
}

.project2 {
    background-color: #f7ebf5;
    background-image: url("/images/desktop/project2-background2.png"); 
}

.project3 {
    background-color: #e0f0f3;
    background-image: url("/images/desktop/project3-background2.png");  
}

.project4 {
    background-color: #fdebdb;
    background-image: url("/images/desktop/project4-background2.png"); 
}

.about {
    background-color: var(--background-color);
    background-image: url("images/desktop/about-background.png"); 
}

.contact {
    background-color: var(--background-color);
    background-image: url("images/desktop/about-background.png"); 
}



@media screen and (max-width: 700px) {
    .homepage {
        background-image: url("images/mobile/homepage-mobile-bkg.png");
    }

    .project1 {
        background-image:url("/images/mobile/project1-mobile-bkg.png");
    }

    .project2 {
        background-image:url("/images/mobile/project2-mobile-bkg.png");
    }

    .project3 {
        background-image:url("/images/mobile/project3-mobile-bkg.png");
    }

    .project4 {
        background-image:url("/images/mobile/project4-mobile-bkg.png");
    }

    .contact {
        background-color: #021832;
        background-image: url("images/mobile/about-mobile-bkg.png"); 
    }

    .about {
        background-color: #021832;
        background-image: url("images/mobile/about-mobile-bkg.png");
    }
}


/*-------NAVBAR-------*/ 

.nav-white {
    color: #fff !important;
}

.nav-link {
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 18px;
}

.nav-link:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);  
}

.navbar-brand {
    font-family: var(--heading-font);
    background-image: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 400;
}


/*-------HOMEPAGE-------*/ 

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    position: relative;
    padding: 40px 20px;
}

.heading {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.mobile-desktop-img {
    display: none;
}

.homepage-intro {
    margin-top: 30px;
    font-family: var(--default-font);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

a {
    text-decoration: none;
}

.homepage-btn {
    position: relative; 
    top: 50px;/* Remove absolute positioning */
    padding: 15px;
    bottom: auto; /* Reset bottom positioning */
    cursor: pointer;
    background: transparent;
    border: none;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}

.homepage-btn:hover {
    transform: scale(1.1);
}

.homepage-btn-img{
    width: 40px;
}

.homepage-btn-txt {
    font-weight: 300;
    font-size: 18px;
    color: #fff !important;
    margin-bottom: 0;
    
}

@media screen and (min-width: 1024px) {
    .homepage {
        padding-top: 120px; 
    }
}

@media screen and (max-width: 700px) {
    
    .homepage-desktop-img { 
        display: none;
    }

    .mobile-desktop-img {
        display:block;
        margin: 0 auto;
        margin-top: 50px;
    }

   
    .homepage-intro {
        padding: 10px;
        margin-top: 10px; /* Push text slightly up */
    }

    .homepage-btn {
        padding-bottom: 20px;
        margin-top: 50px;
    }
  
    .homepage {
        padding-bottom: 20px; /* Ensure enough space for button */
    }
}

/*-------PROJECT PAGES-------*/ 

.numbers {
    position: relative;
    font-family: var(--heading-font);
    font-weight: 200;
    right: 70px;
}

.first-number {
    font-size: 56px;
}

.line {
    font-size: 60px;
    font-weight: 100;
}

.second-number {
    font-size: 32px;
}

.number-text {
    font-family: var(--heading-font);
    font-weight: 200;
}

.project-img {
    position: relative;
    width: 650px;
    right: 80px;
}

.project-content {
    margin: auto;
    padding-top: 30px;
}

.project-order { 
    font-size: 48px;
    opacity: 0.8;
}

.project-title {
    font-size: 48px;
}

.project-text {
    font-family: var(--default-font) !important;
    color: #000;
    font-size: 16px;
    line-height: 2;
    margin-top: 10px;
}

.project-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.2s ease-in-out;
}

.project-btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    color: #fff;
}

.icon {
    padding-right: 7px;
}

@media screen and (max-width: 700px) {
    .numbers {
        margin-top: 40px;
        margin-bottom: 20px;
        right: 0;
    }

    .project-img {
        margin-bottom: 20px;
        right: 0;
    }

    .project-content {
        text-align: center;
    }

    .project-text {
        margin-bottom: 40px;
        padding-left: 20px;
    }

    .project-btn {
        margin-bottom: 20px;
    }
}


/*-------ABOUT PAGE-------*/ 

.about-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Make it take the full height of the screen */
    width: 100%;
    margin-top: 30px;
}

.about-content {
    max-width: 1000px;
    width: 60%;
    text-align: left;
    margin: auto;
    padding: 40px;
   
}

.about-h1 {
    padding-left: 5px;
    font-size: 56px;
    font-weight: 400;
    background-image: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

.about-h3 {
    font-family: var(--default-font);
    color: #fff;
    font-weight: 200;
    font-style: normal;
    display: inline;
  
}

.about-p {
    font-family: var(--default-font);
    color: #fff;
    font-style: none;
    font-size: 16px;
    line-height: 2;
    font-size: 20px;
}

.about-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--background-color);
    background-color: #fff;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.2s ease-in-out;
}

.about-btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    color: #021832;
}

@media screen and (max-width: 700px) {
    .about-content {
        text-align: center;
        margin-top: 50px;
        padding: 10px;
        width: 100%;
    }

    .about-h1 {
        display: block;
    }
}





/*-------CONTACT PAGE-------*/ 

.content-container{
    padding-top: 100px;
}

.contact-h1 {
    font-size: 64px;
    font-weight: 400;
    background-image: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-h2 {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    height: 100%; 
    font-size: 56px;
    font-weight: 400;
    background-image: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-details {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 0 auto;
}

.contact-headings {
    font-family: var(--heading-font);
    font-weight: 400;
    letter-spacing: 0.12em;
    background-image: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
}

.contact-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.contact-link:hover {
    color: #fff;
}

@media screen and (max-width: 700px){
    .contact-h1 {
        background-image: linear-gradient(#fff, #fff);
    }
}

@media screen and (min-width: 1200px){
    .content-container {
       
    }
}



