/*-------BACKGROUND-------*/ 
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}




.full-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}



.homepage {
    background-color: #021832;
    background-image: url("/images/desktop/homepage-background6.png");   
}

.project1 {
    background-color: #d2e1f6;
    background-image: url("/images/desktop/project1-background4.png");   
}

.project2 {
    background-color: #f7ebf5;
    background-image: url("/images/desktop/project2-background2.png"); 
 
}

.project3 {
    background-color: #e0f0f3;
    background-image: url("/images/desktop/project3-background2.png");  
}

.project4 {
    background-color: #fdebdb;
    background-image: url("/images/desktop/project4-background2.png"); 
}

.contact {
    background-color: #021832;
    background-image: url("images/desktop/about-background.png"); 
}



@media screen and (max-width: 700px) {
    .homepage {
        background-image: url("images/mobile/homepage-mobile-bkg.png");
    }

    .project1 {
        background-image:url("/images/mobile/project1-mobile-bkg.png");
    }

    .project2 {
        background-image:url("/images/mobile/project2-mobile-bkg.png");
    }

    .project3 {
        background-image:url("/images/mobile/project3-mobile-bkg.png");
    }

    .project4 {
        background-image:url("/images/mobile/project4-mobile-bkg.png");
    }

    .contact {
        background-color: #021832;
        background-image: url("images/mobile/homepage-mobile-bkg.png"); 
    }
}


/*-------NAVBAR-------*/ 

.nav-white {
    color: #fff !important;
}

.nav-link {
    font-family: "Big Shoulders", sans-serif;
    letter-spacing: 0.12em;
    font-weight: 400;
    font-size: 18px;
}

.nav-link:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);  
}



/*-------HOMEPAGE-------*/ 

.heading {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.mobile-desktop-img {
    display: none;
}

.homepage-intro {
    margin-top: 30px;
    font-family: "Playfair Display", serif;
    color: #fff;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    max-width: 80%; /* Adjusted for better centering */
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

a {
    text-decoration: none;
}

.homepage-btn {
    position: absolute;
    bottom: 10px;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    cursor: pointer;
    background: transparent;
    border: none;
    transition: 0.3s ease-in-out;
}

.homepage-btn:hover {
    transform: scale(1.1);
}

.homepage-btn-img{
    width: 40px;
}

.homepage-btn-txt {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff !important;
    margin-bottom: 0;
    
}

@media screen and (max-width: 700px) {
    
    .homepage-desktop-img { 
        display: none;
    }

    .mobile-desktop-img {
        display:block;
        margin: 0 auto;
    }

    .homepage-intro {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
    }

    .homepage-btn {
        bottom: 0px;
    }
  
}

/*-------PROJECT PAGES-------*/ 

.numbers {
  position: relative;
    font-family: "Big Shoulders", sans-serif;
    font-weight: 200;
    right: 70px;
}

.first-number {
    font-size: 56px;
}

.line {
    font-size: 60px;
    font-weight: 100;
}

.second-number {
    font-size: 32px;
}

.number-text {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 200;
}

.project-img {
    position: relative;
    width: 650px;
    right: 80px;
}

.project-order { 
    font-size: 48px;
    font-family: "Big Shoulders", sans-serif;
    opacity: 0.8;
}

.project-title {
    font-family: "Big Shoulders", sans-serif;
    font-size: 48px;
}

.project-text {
    font-family: "Playfair Display", serif;
    color: #000;
    font-style: italic;
    font-size: 16px;
    line-height: 2;
    margin-top: 10px;
}

.project-btn {
    position: absolute;
    text-decoration: none;
    color: #000;
    font-family: "Big Shoulders", sans-serif;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.2s ease-in-out;
}

.project-btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    color: inherit;
}



.icon {
    padding-right: 7px;
}

@media screen and (max-width: 700px) {
    .numbers {
        margin-top: 40px;
        margin-bottom: 20px;
        right: 0;
    }

    .project-img {
        margin-bottom: 20px;
        right: 0;
    }

    .project-content {
        text-align: center;
    }

    .project-text {
        margin-bottom: 40px;
        padding-left: 20px;
    }
}

/*-------ABOUT PAGE-------*/ 

.about-content {
   position: relative;
   top: 200px;
}

.about-h1 {
    padding-left: 5px;
    font-family: "Big Shoulders", sans-serif;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 0.12em;
    background-image: linear-gradient(#ffc3ca, #a8a9e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

.about-h2 {
    font-family: "Playfair Display", serif;
    color: #fff;
    font-weight: 200;
    font-style: normal;
    display: inline;
    font-style: italic;
}

.about-p {
    font-family: "Playfair Display", serif;
    color: #fff;
    font-style: italic;
    font-size: 16px;
    line-height: 2;
    font-size: 20px;

}

/*-------CONTACT PAGE-------*/ 

.content-container{
    padding-top: 100px;
}

.contact-h1 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0.12em;
    background-image: linear-gradient(#ffc3ca, #a8a9e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-h2 {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    height: 100%; 
    font-family: "Big Shoulders", sans-serif;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 0.12em;
    background-image: linear-gradient(#ffc3ca, #a8a9e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-details {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 0 auto;
}

.contact-headings {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 400;
    letter-spacing: 0.12em;
    background-image: linear-gradient(#ffc3ca, #a8a9e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
}

.contact-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.contact-link:hover {
    color: #fff;
}

@media screen and (max-width: 700px){
    .contact-h1 {
        background-image: linear-gradient(#fff, #fff);
    }
}


/*-------FOOTER-------*/ 

footer {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 200;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 8px;
    background-color: #A9DAB8;
}

